<widget-modal widget-modal-title="Configure Test Report Analysis Widget" class="ca-config">
    <form name="configForm" role="form"
          ng-submit="TestReportWidget.submit(TestReportWidget.testConfigs)"
          novalidate="novalidate">

        <form-group class="text-center">
            <div class="text-center modal-label">Test Report</div>

            <div class="form-group text-center" ng-repeat="configItem in TestReportWidget.testConfigs">
                <div class="col-sm-3">
                    <input
                            type="text"
                            name="testJobName"
                            class="form-control-inline text-center"
                            ng-model="configItem.testJobName"
                            minlength="1"
                            maxlength="8"
                            required>
                </div>
                <div class="col-sm-8">

                    <ui-select ng-model="configItem.testCollectorItem" theme="bootstrap"
                               ng-disabled="TestReportWidget.testJobs.length === 0">
                        <ui-select-match placeholder="{{TestReportWidget.testToolsDropdownPlaceholder}}">
                            {{$select.selected.description}}
                        </ui-select-match>
                        <ui-select-choices allow-clear="true"
                                           repeat="item in (configItem.testJob | orderBy:['collector.name','description'] | filter: $select.search ) track by item.id">
                            <div ng-bind-html="(item.niceName + ' : ' + item.description) | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            No Jobs were found
                        </ui-select-no-choice>
                    </ui-select>


                </div>
                <dash-trash class="fa-lg" ng-click="TestReportWidget.deleteTestConfig(configItem)"></dash-trash>
            </div>
            <div class="form-group text-center"
                 ng-show="TestReportWidget.testConfigs.length==0 || TestReportWidget.testConfigs[TestReportWidget.testConfigs.length-1].testCollectorItem != null">
                <span class="fa fa-plus-circle fa-2x clickable" ng-click="TestReportWidget.addTestConfig()"></span>
            </div>
            <div class="form group text-center">
                <label></label>
                <button type="submit" class="btn btn-primary btn-wide">Save</button>
            </div>
        </form-group>
    </form>
</widget-modal>
<script type="text/ng-template" id="sonarProjectUrlTemplate.html">
	<a title={{match.model.options.instanceUrl}}>
		<span ng-bind-html="match.label | uibTypeaheadHighlight:query"/>
	</a>
</script>
